body{
    background-color:  #161633;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

/************************************************************Nav Bar***********************************/
header{
	color: white;
	font-family: arial;
	display:flex;align-items: center;
	flex-direction: row;justify-content: space-around;
	background-color:#010303;height:12vh;width: 100%;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.list1{
	display:flex;
	align-items: center;
	flex-direction: row;
}
#icon img{
	width: 50px;
	animation: rotation 2s infinite linear;
}

#name{
	font-size:1.8rem;
	margin-left: .2rem;
}
#fav{
	display:flex;
	align-items: center;
	flex-direction: row;
	padding-left: 50px;
	padding-top: 18px;
}
#search{
	display:flex;
	align-items: center;
	flex-direction: row;
	padding-left: 400px;
	padding-top: 0px;

}
#search-term{
  width: 300px;
  background-color:  #191946;
  border: 3px solid #161633;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius:  10px 10px;
  outline: none;
  color: white;
  margin-top: 10px;
}

.searchButton{
  width: auto;
  height: auto;
  border: none;
  background: #010303;
  cursor: pointer;
  font-size: 20px;	
  padding-top: 10px;
}
#my-image{
	margin-left: 90px;
}
#my-image img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
/***********************************************************Aside********************************************/
#aside-section{
	width: 30%;
	height: 100%;
    margin-top: 40px;
    margin-right:6%;
    float: right;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
#aside-section h1{
	padding: 10px;
	font-size: 1.8rem;
	color: white;
}
.dropbtn {
	display: flex;
   flex-flow: row-reverse;
   flex-wrap: wrap;
  color: cyan;
  font-size: 15px;
  cursor: pointer;
  margin-top:-57px;
  margin-right: 25px;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 60px;
  background-color:white;
  min-width: 100px;
}
.dropdown-content a{
  color: black;
  text-decoration: none;
  padding-left:15px;
  display: block;
  font-size:10px;
  height:20px;
  padding-top:7px;
}
hr{
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  margin-bottom:0;
  color:#f3f6db;
}
.dropdown:hover .dropdown-content {
  	display: block;
}
.pageholdere{
   width: 100%;
   display: flex;
   flex-flow: row;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.queue-number{
	display: flex;
   flex-flow: row;
   flex-wrap: wrap;
	color:#6d6d6d;
	padding-left:30px;
}
.queue-number img{
	padding-top: 20px;
	margin-left: -6px;
	height:20px;
	width: 20px;
}
#image{
	display: flex;
   flex-flow: row;
   flex-wrap: wrap;
	width: 50px;
	height: 50px;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 10px;
}
.queue-name{
	padding-left: 10px;
	padding-top: 10px;
}
.queue-name p{
	margin: 0.1em;
}
#p1{
	color: white;
	font-weight: bold;
}
#p2{
	color: #6d6d6d;
	font-size: 0.8rem;
}
.queue-icon{
	margin-left: 180px;
	margin-top: 15px;
}
.queue-icon i{
   color: #6d6d6d;
}
/**********************************************************Main***************************************/
main{
	/*display: flex;*/
	flex-wrap: wrap;
}
.tile{
	margin-top: 5%;
	margin-left: 7%;
	padding: auto;
	width: 58%;
	height: 45%;
	flex-flow: row;
	/*flex-wrap: wrap;*/
	position:relative;
	display: flex;	
}
#image1{
	top: 0;
	left: 0;
	height:250px;
	width: 350px;
	position: relative;
}
#image2{
	top: 0;
	left: 0;
	height:250px;
	width: 350px;
	position: relative;
}
#tile-big{
	height:300px;
	width: 450px;
	position: absolute;
	left: 125px;
	bottom:-25px;
}
/*#tile-big:hover{
	transform: scale(1.1);
	transition: all .5s;
	color: white;
	border: .2rem solid grey;
}*/
#tile-big img{
	margin: auto;
	height:100%;
	width: 450px;
}
/*****************************************************Latest Release************************************************/
.tile1{
	margin-top: 5%;
	margin-left: 7%;
	padding: auto;
	width: 48%;
}
.tile1 h3{
	color: white;
	margin: 0;
}
.latest-release{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}
#latest-image-1{
	position: relative;
}
#latest-image-1 img
{
	padding-top: 5px;
	width: 110px;
	height: 110px;	
}
#text{
	padding-top: 30px;
	float: right;
	display: flex;
	flex-flow: column;
	color: white;
}
#text p{
	margin:0.4em;
}
#ham-icon{
	padding-top: 10px;
	padding-right: 25px;
	padding-left: 85px;
	float: right;
}
#ham-icon i{
	color: #6d6d6d;
}
#ham-icon p{
	margin-top: 0.1em;
	margin-left: -3px;
}
#overlay{
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110px;
  width: 110px;
  opacity: 0;
  transition: .3s ease;
}
#overlay i{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#latest-image-1:hover{
	opacity: 0.7;
}
#latest-image-1:hover #overlay {
  opacity: 1;
}
/***************************************************Popular Artist************************************************/
.popular{
	margin-top: 3%;
	margin-left: 7%;
	/*padding: auto;*/
	width: 58%;
}
.popular h3{
	color: white;
	margin: 0;
}
.popular1{
	padding-top: 10px;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
#popular-image img{
	width: 115px;
	height: 115px;
	border-radius: 50%;
	padding: 5px;
}
#popular-image img:hover{
	opacity: 0.6;
	transition: all .1s;
	box-shadow: 0 1px 10px 0 #23236b;
}
#popular-image p{
	margin:0;
	color: white;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 0;
}
/******************************************************No Title Bar******************************/
.no-title{
	margin-top: 2%;
	margin-left: 7%;
	width: 58%;
	background-color: #080842;
}
#no-title-images{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
	padding-bottom: 30px;
}
#no-title-images1{
  width:80px;
  height:50px;
  position: relative;
  margin-left:10px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
.image1 {
  position: relative;
  top:10px;
  left: 0;
  height:50px;
  width:95px;
}
.image2 {
  position: absolute;
  top:5px;
  left: 5px;
  height:60px;
  width:60px;
}
.image3 {
  position: absolute;
  left: 10px;
  height:70px;
  width:90px;
  top:0;
}
.second{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 20px;
}
#second-images{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	margin-left: 0;
	padding-left: 20px;
}
#second-images img{
  width:80px;
  height: 80px;
  border-radius:50%;
  opacity: 0.9;
}
#second-images img:hover{
	opacity: 0.6;
	transition: all .1s;
	box-shadow: 0 1px 10px 0 #23236b;
}
.text-image{
  position: absolute;
  top: 50%;
  left: 60%;
  color: white;
  transform: translate(-50%, -50%);
}
/************************************************Music********************************************************/
.diff-music{
	margin-top: 2%;
	margin-left: 7%;
	width: 58%;
	/*border: 2px solid green;*/
}
.diff-music-img{	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all 0.4s ease;
}
.diff-music-img img{
	width: 245px;
	height: 130px;
	opacity: 0.7;
}
#container:hover {
transform:scale(1.1);
}
#container{
	position: relative;
    text-align: center;
    color: black;
}
.image-text{
  position: absolute;
  top: 50%;
  font-weight: bold;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
/***********************************************Latest English**************************************/
.latest-language{
	margin-top: 3%;
	margin-left: 7%;
	width: 58%;
}
.latest-language h3{
	color: white;
	margin: 0;
}
.latest-image-container{
	padding-top: 10px;
	padding-left: 6px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container1 img{
	width: 110px;
	height: 110px;
}
.container1 p{
	margin: 0.2em;
}
/*********************************************************Footer**********************************************/
footer{
height:70px;
background:#272626;
position:relative;
/*bottom:0;*/
margin-top: -50px;
font-family: Arial, Helvetica, sans-serif;
}
#footer{
display:flex;
justify-content:space-around;
width:100%;
height:100%;
}
#footer1{
display:flex;
min-width:105px;
margin-left: 20px;
}
#footer1>img{
	width:50px;
	height:50px;
	margin-top:auto;
	margin-bottom:auto;
	margin-right:5px; 
}
#footer1-span1{
	color: white;
	font-size:15px;
	padding-top:10px;
}
#footer1-span2 img{
	padding-left:7px;
	width: 20px;
}
#footer-span-image{
	padding-left:2px;
	width: 20px;
}
#footer1-span3{
	font-size:12px;
	color:#7f7272;
}
#footer2{
width:30%;
text-align: center;
min-width:170px;
}
#footer2-image1{
	padding-bottom: 10px;
	width: 20px;
}
#footer2-image2{
	padding-bottom:10px;
	transform: scaleX(-1);
	 filter: FlipH;
	 width: 20px;
}
#footer2-image3{
	margin-right:10px;
	padding-bottom:10px;
	width: 20px;
}
#outer{
	width:300px;
	height:5px;
	background-color:#7f7272;
	margin-left:auto;
	margin-right:auto;
}
#inner{
	width:50px;
	height:5px;
	background:cyan;
}
#inner img{
	position:absolute;
	margin-left:20px;
	top:55%;
	width: 15px;
}
#footer3{
  	display:flex;
  	width:16%;
  	min-width:75px;
}
#footer3-image{
	margin-right:15px;
	margin-top:25px;
	padding-left: 10px;
	width: 20px;
	height: 20px;
}
#outer1{
	width:90px;
	height:5px;
	background-color:#7f7272;
	margin-top:30px;
	margin-right:9px;
}
#inner1{
	width:13px;
	height:5px;
	background:cyan;
}
#inner1 img{
	position:absolute;
	margin-left:2px;
	top:37%;
	padding-left: 10px;
	width: 15px;
}
#footer3-image2{
	margin-top:25px;
	padding-left: 10px;
	height: 15px;
	width: 20px;
}
/*************************Media Queries******************************/
@media screen and (max-width:1300px){
	.list1{
		width: 95%;
		height: 90%;
	}
	#fav{
		display: none;
	}
	#search{
		margin-left:27%;
	}
	#my-image{
		margin-left: 60%;
	}
	#ham-icon{
		display: none;
	}
}
@media screen and (max-width: 1200px)
{
	.list1{
		width: 95%;
		height: 90%;
	}
	#fav{
		display: none;	
	}
	#my-image{
		margin-right: 50%;
	}
	#search{
		margin-left: 30%;
	}
	#aside-section{
		display: none;
	}
}
@media screen and (max-width: 800px){
	#search{
		margin-left: 50%;
	}
}
@media screen and (max-width:700px){
	.list1{
		width: 95%;
		height: 90%;
	}
	#name{
		display: none;
	}
	#fav{
		display: none;
	}
	#search{
		display: none;
	}
	#my-image{
		margin-left: 80%;
	}
	#image1{
		/*display: none;*/
		margin-left: 10%;
		/*justify-content: center;*/
	}
	#image1:hover{
		transform: scale(1.1);
		transition: all .5s;
	}
	#image2{
		display: none;
	}
	#tile-big{
		display: none;
	}
	#aside-section{
		display: none;
	}
	.tile1{
		margin-left: 25%;
	}
	.tile1 h3{
		margin-left: 30%;
		margin-bottom: 5%;
		font-size: 1rem;
	}
	#latest-image-1 img{
		height: 100px;
		width: 100px;
		padding-left: 15px;
	}
	#text{
		display: none;
		/*margin-left:30%;*/
	}
	#ham-icon{
		display: none;
	}
	.popular{
		margin-left: 22%;
	}
	.popular h3{
		margin-left: 40%;
		margin-bottom: 5%;
		font-size: 1rem;
	}
	#popular-image p{
		font-size: 0.8rem;
	}
	.no-title{
		margin-top: 5%;
		margin-left:20%;
	}
	.diff-music{
		margin-top: 5%;
		margin-left: 23%;
	}
	.latest-language{
		margin-left: 10%;
	}
	.latest-language h3{
		margin-left: 50%;
		font-size: 1rem;
	}
	.latest-image-container{
		margin-top: 5%;
		margin-left: 20%;
	}
	.container1 img{
		height: 100px;
		width: 100px;
	}
	.container1 p{
		font-size: 0.7rem;
		margin-bottom: 10%;
	}
	footer{
		width: 100%;
	}
	#footer1 span{
		display: none;
	}
	#footer2{
		margin-right: 15%;
	}
	#outer{
		width: 80%;
	}
	#footer3 #outer1{
		display: none;
	}
	#footer3{
		margin-right: 13%;
	}
}